<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/plugs/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/app-front.css}" />
    <title>登录</title>
</head>
<body>
<div class="app-header">
    <div th:include="/common/appFrontHeader :: header"></div>
</div>
<div class="app-container">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md4 layui-col-md-offset4 " >
            <form class="layui-form" th:action="@{/user/signin}" method="post">

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <legend>用户登录</legend>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">验证邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{/plugs/layui/layui.js}"></script>
<script th:src="@{/js/app-front.js}"></script>
</html>